
@media (min-width: 992px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="a9af14e0-ad10-eb28-4401-f4e445f64d05"] {
        display:none;
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="a9af14e0-ad10-eb28-4401-f4e445f64d06"] {
        opacity: 0;
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="a9af14e0-ad10-eb28-4401-f4e445f64d07"] {
        -webkit-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="a9af14e0-ad10-eb28-4401-f4e445f64d2b"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="a9af14e0-ad10-eb28-4401-f4e445f64d0a"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="a9af14e0-ad10-eb28-4401-f4e445f64d0e"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="a9af14e0-ad10-eb28-4401-f4e445f64d08"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="a9af14e0-ad10-eb28-4401-f4e445f64d2a"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="a9af14e0-ad10-eb28-4401-f4e445f64d13"] {
        -webkit-transform: translate3d(0, 4.5vw, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 4.5vw, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 4.5vw, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 4.5vw, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="a9af14e0-ad10-eb28-4401-f4e445f64d17"] {
        -webkit-transform: translate3d(0, 4.5vw, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 4.5vw, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 4.5vw, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 4.5vw, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="a9af14e0-ad10-eb28-4401-f4e445f64d1b"] {
        -webkit-transform: translate3d(0, 4.5vw, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 4.5vw, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 4.5vw, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 4.5vw, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="a9af14e0-ad10-eb28-4401-f4e445f64d1f"] {
        -webkit-transform: translate3d(0, 4.5vw, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 4.5vw, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 4.5vw, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 4.5vw, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="a9af14e0-ad10-eb28-4401-f4e445f64d23"] {
        -webkit-transform: translate3d(0, 4.5vw, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 4.5vw, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 4.5vw, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 4.5vw, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="a9af14e0-ad10-eb28-4401-f4e445f64d27"] {
        -webkit-transform: translate3d(0, 4.5vw, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 4.5vw, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 4.5vw, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 4.5vw, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="a9af14e0-ad10-eb28-4401-f4e445f64d34"] {
        opacity: 0;
    }
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility
}
.disabled {
    pointer-events: none;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px #000 inset !important;
}

.redis-form__upload-suc-link {
    margin-top: 0vw !important;
}
body {
    overflow: hidden
}

.hero__heading,.nav,.redis-lottie,.scroll-container.no-e-pointers,.transition {
    pointer-events: none
}
.botva{
    z-index: -99 !important;
}

.skills-btn{
    background-color: black;
    border: 1px solid white;
    border-radius: 15px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.skills-btn:hover{
    background: #ffffff;
    color: #050801;
    box-shadow: 0 0 5px #ffffff,
                0 0 25px #ffffff,
                0 0 50px #ffffff,
                0 0 200px #ffffff;
     -webkit-box-reflect: 1px linear-gradient(transparent, #0005);
}


.bt_bar_1,.menu-new__bt-burger, .bt_bar_3 {
    pointer-events: auto
}

::selection {
    background: rgba(208,10,70,.6)
}

a {
    color: inherit
}

#target4 {
    opacity: 0;
    transition: opacity .5s ease-out
}

.about__image,.conatcts__image-is2 {
    opacity: 0;
    transition-delay: 1s!important;
    transition: opacity .2s ease-out
}
.uploadcare--widget__button_type_open, .uploadcare--widget__button:focus {
    background: transparent;
    color: #000000;
    border-radius: 60vw;
    border: 0.07vw solid #000000;
    padding: 1vw 0;
    width: 12.2vw;
    outline: none;
}

@media (max-width: 992px) {
    .uploadcare--widget__button_type_open, .uploadcare--widget__button:focus {
        border: 0.28vw solid #000000;
        padding: 3.06vw 0;
        width: 41.7vw;
        font-size: 4.17vw;
    }
}
.heading-big-hero{font-size: 15.11em!important}

.uploadcare--widget__button_type_open:hover {
    background: #000000;
    color: #fff;
    border: 0.07vw solid #000000;
    outline: none;
}

/* checkbox */
input[type='checkbox'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

textarea {
    resize: both;
}

textarea::-webkit-resizer {
    display: none;
}

input:-webkit-autofill {
    background-color: #ffffff !important;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
    transition: background-color 5000s ease-in-out 0s;
}
.main-para{
    font-family: Times New Roman,TimesNewRoman,Times,Baskerville,Georgia,serif;
    text-align: center;

}
